body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f1115;
  color: #fff;
}

header {
  text-align: center;
  padding: 30px;
  background: #151922;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  background: #FA720F;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
  width: 250px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.spec {
  color: #aaa;
}

.price {
  font-size: 20px;
  margin: 10px 0;
  color: #00ffcc;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background: #00ffcc;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
}

.product-page {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
}

.main-img {
  width: 400px;
  border-radius: 15px;
  margin-right: 30px;
}

.info {
  max-width: 400px;
}

.buy {
  display: inline-block;
  padding: 12px 20px;
  background: #00ffcc;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 15px;
}

.back {
  display: block;
  margin-top: 15px;
  color: #aaa;
}

footer {
  text-align: center;
  padding: 20px;
  background: #151922;
  margin-top: 40px;
}

.zoom-img {
 width: 1000px;
width: auto; /* Set your desired thumbnail size */
  transition: transform 0.3s ease; /* Smooth transition */
  cursor: zoom-in;
}

.zoom-img:hover {
  transform: scale(1.2); /* Enlarges the image by 10% on hover */
}
